services:
  db:
    image: postgres:15
    container_name: loto_db
    environment:
      POSTGRES_DB: lotodb
      POSTGRES_USER: loto
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Paris  # Heure BDD
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    ports:
      - "127.0.0.1:5433:5432"

  app:
    build: .
    container_name: loto_app
    ports:
      - "80:8080"
    depends_on:
      - db
    environment:
      # Timezone
      TZ: Europe/Paris

      # Clé de sécurité (Référence au fichier .env)
      LOTO_SECURITY_REMEMBER_KEY: ${REMEMBER_KEY}

      # Connexion BDD
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/lotodb
      SPRING_DATASOURCE_USERNAME: loto
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

      # Email
      SPRING_MAIL_USERNAME: tonycoloricchio01@gmail.com
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      APP_BASE_URL: http://51.254.133.205
    restart: always

volumes:
  pgdata:
