services:
  loto_db:
    image: postgres:15
    container_name: loto_db
    environment:
      POSTGRES_DB: lotodb
      POSTGRES_USER: loto
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Paris
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    ports:
      # Mappage : Port Extérieur 5433 -> Port Interne 5432
      # Permet d'accéder à la BDD via 51.254.133.205:5433
      - "5433:5432"

  loto_app:
    build: .
    container_name: loto_app
    ports:
      - "8081:8080"
    depends_on:
      - loto_db
    environment:
      TZ: Europe/Paris

      # --- CONNEXION BDD (INTERNE DOCKER) ---
      # L'app parle au conteneur "loto_db" sur le port interne 5432
      SPRING_DATASOURCE_URL: jdbc:postgresql://loto_db:5432/lotodb
      SPRING_DATASOURCE_USERNAME: loto
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

      # --- CONFIGURATION APP ---
      PORT: 8080
      APP_BASE_URL: http://51.254.133.205:8081

      # --- SECURITE & MAIL ---
      LOTO_SECURITY_REMEMBER_KEY: ${REMEMBER_KEY}
      SPRING_MAIL_USERNAME: tonycoloricchio01@gmail.com
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      APP_LOTO_RECIPIENT: tonycoloricchio01@gmail.com

      # --- OPTIONNEL : FIX SSL ---
      # Force Java à utiliser un truststore vide pour éviter le bug "WINDOWS-ROOT"
      JAVA_TOOL_OPTIONS: "-Djavax.net.ssl.trustStoreType=JKS -Djavax.net.ssl.trustStore=/dev/null -Djavax.net.ssl.trustStorePassword=changeit"

    restart: always

volumes:
  pgdata:
